---
import { parseLinks } from '@/lib/links'
import rawLinks from '@/public/links.json'
import config from 'virtual:config'

import { Collapse, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'
import LudusCta from '@/components/links/LudusCta.astro'
import SiteInfoCard from '@/components/links/SiteInfoCard.astro'
import { siteLink } from '@/site-config'

const links = parseLinks(rawLinks)
const commonLinks = links.friends.find((group) => group.id_name === 'cf-links')
const inactiveLinks = links.friends.find((group) => group.id_name === 'inactive-links')
const specialLinks = links.friends.find((group) => group.id_name === 'special-links')
const linksConf = config.integ.links
const linkEditPage = 'https://github.com/JoshuaChen2008/joshua-blog/blob/blog/public/links.json'
---

<PageLayout title='Links' hideSidebar={true}>
  <p>在网络世界里遇见的朋友们。</p>
  <LudusCta />

  {commonLinks && <FriendList title='Friends' list={commonLinks} />}

  {
    inactiveLinks && (
      <Collapse title='暂时失效的友链'>
        <FriendList list={inactiveLinks} />
      </Collapse>
    )
  }

  {
    linksConf.logbook.length > 0 && (
      <Collapse title='友链记录'>
        <Timeline events={linksConf.logbook} />
      </Collapse>
    )
  }

  {specialLinks && <FriendList title='Special Links' list={specialLinks} />}

  <h2 id='apply-links'>交换友链</h2>
  <p>下面是本站的标准友链信息，点击按钮即可复制完整 YAML。</p>
  <SiteInfoCard site={siteLink} />

  <p>
    可以通过下方留言，或直接
    <a href={linkEditPage} target='_blank' rel='noopener noreferrer'>编辑 links.json 并提交 PR</a>
    申请友链。
  </p>
  <ul>
    <li>请先在你的站点添加本站友链。</li>
    <li>站点可以正常访问，并使用稳定的正式域名。</li>
    <li>以原创内容为主，最近一年仍有更新。</li>
    <li>内容遵守相关法律法规。</li>
  </ul>
</PageLayout>
